:root{
  --Color1: #1D1C23;
  --Color2: #7e8085;
  --Color3: #F1F0F1;
  --Color4: #FFB30F;
  --Color5: #0ED144;
  --Color6: #FE2447;
  --Color7: #1E72F9;
  --Color8: #483E9A;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito');

/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap'); */

html{
  background-color: var(--Color1);
  color: var(--Color3);
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-weight: 700;
  font-size: 3rem;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


button{
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 1rem;
  font-weight: bolder;
  color: var(--Color1);

  border-radius: 50px;
  border: none;

  background-color: var(--Color4);

  cursor: pointer;
}
